.wrapper {
    width: 585px;
    margin: auto;
}

.title {
    text-align: center;
    margin-top: 35px;
    font-size: 42px;
}

.input {
    width: 487px;
    height: 76px;
    background-color: var(--gray);
    border: none;
    padding-left: 24px;
    font-size: 22px;
    font-family: 'Poppins';
}

.task {
    display: flex;
    margin-top: 24px;
    margin-bottom: 51px;
    justify-content: center;
}

.submit {
    width: 108px;
    height: 76px;
    background-color: var(--green);
    border: none;
    font-size: 32px;
}

.submit:hover {
    background-color: var(--black);
    transition: all .5s;
    color: var(--white);
}

.tasks {
    padding: 0 0 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    margin: 16px 0;
    list-style-type: none;
}

.buttons .accept,
.buttons .delete {
    height: 54px;
    width: 45px;
    border-radius: 5px;
}

.accept:hover {
    background-color: var(--green);
    transition: all .5s;
}

.delete:hover {
    background-color: red;
    transition: all .5s;
}


.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.taskList {
    height: 50vh;
    overflow-y: scroll;
}

.buttons button {
    border: none;
    background: none;
}

.taskTitle {
    color: var(--white);
    font-size: 22px;
    font-weight: 300;
    word-break: break-word;
    margin: 10px 20px 10px 0;
}

@media screen and (max-width: 888px) {
    .wrapper {
        width: 530px;
    }

    .title {
        font-size: 30px;
    }

    .input {
        width: 430px;
        height: 65px;
    }

    .submit {
        width: 100px;
        height: 65px;
        font-size: 26px;
    }
}

@media screen and (max-width: 555px) {
    .wrapper {
        width: 327px;
    }

    .title {
        font-size: 25px;
    }

    .submit {
        font-size: 22px;
    }

    .input {
        width: 260px;
        height: 65px;
    }
}