@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/Poppins-Regular.ttf'), url('../public/fonts/Poppins-Light.ttf'), url('../public/fonts/Poppins-Medium.ttf'), url('../public/fonts/Poppins-Bold.ttf'), url('../public/fonts/Poppins-SemiBold.ttf');
}



*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green: #5EFC8D;
  --black: #000;
  --white: #fff;
  --gray: #E6EBFF;
}

body {
  margin: 0;
  font-family: 'Poppins';
  background-color: var(--black);
}

button {
  font-family: 'Poppins';
}